.container2 {
  background-color: #E10098;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Mobile__Logo__Container {
  height: 60%;
  img {
    height: 100%;
  }
}

