* {
  font: .875rem Roboto;
}

.product-grid {
  display: flex;
  flex-flow: row wrap;
}

.product-grid .product-item {
  width: 16.6%;
  padding: 15px;
}

@media (max-width: 992px) {
  .product-grid .product-item {
    width: 33.33%;
  }
}

@media (max-width: 768px) {
  .product-grid .product-item {
    width: 50%;
  }
}

@media (max-width: 576px) {
  .product-grid .product-item {
    width: 100%;
  }
}

.product-grid .product-single {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.product-grid .product-img,
.product-grid .product-content {
  position: relative;
  width: 100%;
  background: #f1f1f1;
  overflow: hidden;
}

.product-grid .product-img img {
  display: block;
  width: 100%;
  transition: .3s;
}


/* --- Product Grid 1 --- */
.product-grid.grid-1 .product-single:hover {
  box-shadow: 0 0 5px #999999;
}

.product-grid.grid-1 .product-single:hover img {
  transform: scale(1.1);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.product-grid.grid-1 .product-status {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.product-grid.grid-1 .product-status span:first-child {
  display: inline-block;
  float: left;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 300;
  color: #ffffff;
  background: #C81685;
  opacity: .8;
}

.product-grid.grid-1 .product-status span:last-child {
  display: inline-block;
  float: right;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 300;
  color: #ffffff;
  background: #3B3B3E;
  opacity: .8;
}

.product-grid.grid-1 .product-action {
  position: absolute;
  height: 40px;
  width: 100%;
  text-align: center;
  top: calc(50% - 20px);
  font-size: 0;
  transition: .3s;
  opacity: 0;
}

.product-grid.grid-1 .product-action a {
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 10px 0;
  margin: 0 2px;
  font-size: 16px;
  color: #ffffff;
  background: #C81685;
}

.product-grid.grid-1 .product-action a:hover {
  background: #252525;
}


.product-grid.grid-1 .product-single:hover .product-action {
  opacity: 1;
}

.product-grid.grid-1 .product-content {
  padding: 15px;
}

.product-grid.grid-1 .product-title,
.product-grid.grid-1 .product-ratting,
.product-grid.grid-1 .product-price {
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
}

.product-grid.grid-1 .product-price {
  margin-bottom: 0;
}

.product-grid.grid-1 .product-title h2 {
  font-size: 22px;
  font-weight: 200;
}

.product-grid.grid-1 .product-title h2 a {
  color: #C81685;
}

.product-grid.grid-1 .product-title h2 a:hover {
  color: #666666;
}

.product-grid.grid-1 .product-ratting i {
  display: inline-block;
  font-size: 16px;
  color: #C81685;
}

.product-grid.grid-1 .product-price h2 {
  display: inline-block;
  color: #C81685;
  font-size: 30px;
  font-weight: 200;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #C81685;
  color: white;
}